body{
    background-color: #e7e7e7;
}
.header
{
    background-color: #FFF;
    height: 80px;
    margin-bottom: 30px;
}
.center
{
    width: 960px;
    margin: auto;
}
.floatLeft
{
    background-color: teal;
    height: 80px;
    float: left;
    margin: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.floatRight
{
    float:right;
}
.floatRight a
{
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    text-decoration: none;
    color: grey;
    font-family: sans-serif;
}
.floatRight a:hover
{
    color: #FF5599;
    top: 10%;
}
.content
{
    clear: both;
}
.main {
  width: 650px;
  float: left;
  background: white;
  margin-right: 30px;
}
.pic {
  float: left;
  padding-right: 20px;
}
.sideBar {
  width: 270px;
  float: left;
  background: white
}
h2 {
  color: teal;
}
p {
  font-family: sans-serif;
}
